@inject BizKeeper360.Resources.SharedLocalizationService sharedLocalizer


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@sharedLocalizer.Pages["HomePage.Title"]</h1>
    <p>@sharedLocalizer.Pages["HomePage.Greetings"]</p>
</div>