html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
        url('../images/Background.png') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 60px;
}

/*Table---Start*/
table {
    border: 1px solid black;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
/*Table---End*/

/*LanguageContainer---Start*/
.language-selector {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.language-selector .btn {
    width: 80%;
    text-align: center;
}

.language-selector .dropdown-menu {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
/*LanguageContainer---End*/

/*PageCreate/Edit*/
.create-item-container {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    background-color: #ced4da;
    border-radius: 2%;
}

/*CreateTitle*/
.create-item-title {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* FormContainer */
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-group {
    min-width: 300px;
    max-width: 80%;
}

/*ButtonImageFile---Start*/
.container-image-form {
    border: solid 1px;
    border-radius: .25rem;
    border-color: #ced4da;
}

.custom-file-input {
    position: absolute;
    opacity: 0;
}

.custom-file-label {
    width: 100%;
    display: inline-block;
    padding: .375rem .75rem;
    cursor: pointer;
    background-color: #ffffff;
    color: #808080;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out;
}
/*ButtonImageFile---End*/

/*SalesPage*/
.sales-container {
    position: relative;
    width: 100%;
    max-height: 70%;
    border: solid 1px;
    background-color: #ccffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

/*MainContent*/
.main-content {
    margin-left: 210px;
}

/*MainLeftPanel---Start*/
.main-container {
    display: flex;
    position:relative;
}

.custom-sidebar {
    background-color: #ccffff;
    width: 200px;
    max-height: 90%;
    color: #fff;
    position: fixed;
    top: 60px;
    bottom: 60px;
}

.custom-sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.custom-sidebar nav ul li {
    margin-bottom: 15px;
    text-align: center;
}

.custom-sidebar nav ul li a.sidebar-link {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: background 0.3s, color 0.3s;
}

.custom-sidebar nav ul li a.nav-link:hover {
    background-color: #000000 !important;
    color: #ccffff !important;
    padding-left: 15px !important;
    border-radius: 25px !important;
}

.custom-sidebar nav ul li a.nav-link:active {
    background-color: #333 !important;
    color: #ff0000 !important;
}
/*MainLeftPanel---End*/

/*DeveloperLogo*/
.developer-logo {
    background-image: url('../images/Logo_v1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 90px;
    height: 50px;
    z-index: 9999;
}

/*SalesPhoto*/
.center-content {
    text-align: center;
    vertical-align: middle;
}

.photo-container {
    display: inline-block;
    text-align: center;
}

.item-photo {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
}

.creation-date {
    display: block;
    font-size: 14px;
}

/*ChangeColorExpiringSoon*/
.expiring-soon {
    background-color: #ffcccc;
}